.navbar{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logoBell{
    width: 60px;
    padding-right: 10px;
}

.navbar .logoName{
    width: 100px;
    margin-right: auto;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    border: 1px solid;
    padding: 10px 30px;
    border-radius: 5px;
    margin-left: 40px;
    transition: 0.2s;
}

.navbar button:hover{
    background-color: #fff7f2;
}
